html, body {
  background-color: #000;
  transition: all 0.3s;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
}

.glass-btn {
  width: 100px;
  height: 100px;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  margin: 0 1em;
  cursor: pointer;
  transition: all 0.3s;
}

.blue-btn {
  box-shadow: 0px 20px 20px -17px rgba(0, 111, 255, 0.53);
}

.red-btn {
  box-shadow: 0px 20px 20px -17px rgba(255, 16, 39, 0.5);
}

.amber-btn {
  box-shadow: 0px 20px 20px -17px rgba(255, 159, 16, 0.53);
}

.glass-btn:hover {
  background-color: #e0e0e0;
  transform: translateY(-5px);
  box-shadow: 0px 20px 35px -16px rgba(0, 0, 0, 0.2);
}

.glass-btn img {
  width: 100%;
  height: auto;
}

.content {
  font-size: 4em;
  font-family: "Roboto", sans-serif;
}

.blue-btn .content {
  background: linear-gradient(to right, #006fff, #00acff 70%);
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 10px 37px rgba(0, 111, 255, 0.8);
}

.red-btn .content {
  background: linear-gradient(to right, #ff1027, #ff4f06 70%);
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 10px 37px rgba(255, 16, 39, 0.6);
}

.amber-btn .content {
  background: linear-gradient(to right, #ff8d00, #f7ad07 70%);
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 10px 37px rgba(255, 94, 16, 0.7);
}